.table {
    margin:0;
}


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.hidden{
    display:none;
}


.topbox{
    background-color: white;
    z-index: 99;
}
.auth {
    margin:10px;
   
}
.title {
    margin-top: 20px;
    font-size: 2em;
    display: inline-block;
}

.nowplaying {
    background: lightblue;
   
    color:navy;
    text-align: center;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 5px;
  
}

.table {
   
  
}

.table thead tr th {
    border: none;
    color: #096fa2;
    padding: 0;
    text-align: center;
}

.card {
     border: solid 1px #096fa2;
    border-radius: 10px 10px 0 0;
 
}
.dark {
     color: #096fa2;
}