<!--We Made it.-->

<div class="tablediv">
<table class="table table-sm">
    <tbody>

<!--UPCOMING -->
       <tr class="text-center upcoming">
    <td class="tb-header table-active" colspan="3">
    Upcoming </td>

 <tr  *ngFor="let song of songs | filter: term | sortBy: 'likes' ; let i  = index"
      class="testClass" >
  <app-song [song]="song" [permission]="'admin'"
  *ngIf="song.likes > 0"
  > </app-song>
  </tr>


<!--Available -->
  <tr class="text-center available">
    <td class="tb-header table-active" colspan="3">
    Available </td>
    </tr>
    
 <tr  *ngFor="let song of songs | filter: term | sortBy: 'title' ; let i  = index"
      class="testClass" 
       style="color: gray"
      >
  <app-song [song]="song" [permission]="'admin'"
  *ngIf="song.likes <= 0"
 
  > </app-song>
  </tr>

  </tbody>
  </table>
</div>



<!--Edit Songs -->
<div class="container">
<div class="row">
<div class="col-md-12">
<input type="text" placeholder="Title" value="" name="newTitle" [(ngModel)]="newTitle" />
<input type="text" placeholder="Artist" value="" name="newArtist" [(ngModel)]="newArtist" />
<input type="number" name="newLikes" value="3" min="1" max="10" [(ngModel)]="newLikes">
<button class="btn btn-success" (click)="addSong()">Add Song </button>
<i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" name="term" placeholder="Seach" [(ngModel)]="term" />
</div>
</div>
</div>
<br>
<!--Users -->
<table class="table table-sm" >
  <thead>
  <th> User Name </th>
  <th> Likes Available </th>
  <th> Modify </th>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList ; let i  = index"> 

<td>{{user.userName}}</td>
<td>{{user.availableLikes}}</td>
<td>
  <button class="btn btn-sm btn-default" (click)="setLikes(user.$key, user.availableLikes)">Set Likes</button></td>
    </tr>
  </tbody>
  <tr><td>
    <input type="number" name="fillLikes" value="3" min="1" max="100" [(ngModel)]="fillLikes">
    </td></tr>
</table>












<!-- Modal -->
<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in first!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <button class="btn btn-primary" (click)="fblogin()" *ngIf="!(user | async)?.uid">
            <i class="fa fa-facebook" aria-hidden="true" ></i>
            Sign in</button>
          
           <div *ngIf="(user | async)?.uid" > 
         Great! Now you can vote for songs!

          </div>
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
      </div>
    </div>
  </div>
</div>

