<!--We Made it.-->
<form id="filter" class="pull-right">
    <label>
<i class="fa fa-search" aria-hidden="true"></i>

    </label>
    <input type="text" name="term" [(ngModel)]="term" />
</form>

<h4 class="subtitle" style="text-align:center">Tonight's Songs: </h4>

<div class="tablediv">
<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let song of songs | filter: term ; let i  = index"

    [style.backgroundColor]="song.play == 1? 'skyblue' : 'transparent'"
  >

  <!--|  sortBy: 'likes'-->

<td >{{ song.title }}</td>
<td >{{ song.artist }}</td>
<td  [style.min-width]="'200px'" >{{ song.likes }}
 
            <i class="fa fa-heart-o" aria-hidden="true"  *ngIf="song.likes < 1"></i>
         <i class="fa fa-heart" aria-hidden="true" *ngIf="song.likes >= 1"></i>
            <i class="fa fa-plus" aria-hidden="true" (click)="addLike(song.$key, song.likes)"  ></i>
            <i class="fa fa-minus" aria-hidden="true" (click)="removeLike(song.$key, song.likes)"></i>
            
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </span>
            <i class="fa fa-play" [class.hidden]="song.play == 1" (click)="play(song.$key)" aria-hidden="true"></i>
            <i class="fa fa-stop" [class.hidden]="song.play != 1" (click)="stop(song.$key)" aria-hidden="true"></i>
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </span>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteSong(song.$key)"></i>
   
    
</td>

  </tr>
  </tbody>
  </table>
</div>


<div class="container">
<div class="row">
<div class="col-md-12">
<input type="text" placeholder="Title" value="" name="newTitle" [(ngModel)]="newTitle" />
<input type="text" placeholder="Artist" value="" name="newArtist" [(ngModel)]="newArtist" />
<input type="number" name="newLikes" value="3" min="1" max="10" [(ngModel)]="newLikes">
<button class="btn btn-success" (click)="addSong()">Add Song </button>

</div>
</div>
</div>





<!-- Modal -->
<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in first!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <button class="btn btn-primary" (click)="fblogin()" *ngIf="!(user | async)?.uid">
            <i class="fa fa-facebook" aria-hidden="true" ></i>
            Sign in</button>
          
           <div *ngIf="(user | async)?.uid" > 
         Great! Now you can vote for songs!

          </div>
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
      </div>
    </div>
  </div>
</div>

