/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.tb-header {
    font-weight: bold;
}

.available {
    color:gray;
    background-color: lightgray;
    border: solid 1px gray;
    border-bottom: none;
    
}

.upcoming {
    background: lightcyan;
}

.testClass {
    background-color: blue;
}

.hidden{
    display:none;
}

.upcoming{
    color: white;
    background-color: #0687b1;
    border:none;
    padding: 0;
}



.available td, .upcoming td,.playlist {
    border: none;
    padding: 0;
}

