
.dark {
    color:navy;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.hidden{
    display:none;
}

.subtitle
{
    color:#6b6b6b;
}

.table {
    margin:0;
}

.topbox{
    background-color: white;
    z-index: 99;
}

.table td, .table th {
    border:none;
}


/* TEST Animation */
.standard {
    background-color: transparent;
    border: solid 1px gray;
}


.animatetest {
    background-color: transparent;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 2.5s; 
    animation-name: example;
    animation-duration: 2.5s;
    border: solid 1px #0687b1;
    color: #096fa2;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: transparent;}
    50%  {background-color: lightblue;}
    100% {background-color: transparent;}
}

/* Standard syntax */
@keyframes example {
     0%   {background-color: transparent;}
    50%  {background-color: lightblue;}
    100% {background-color: transparent;}
}

/*2nd Animation */
/*2nd Animation */
.animatetest2 {
 
    background-color: transparent;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 5s; 
    animation-name: example2;
    animation-duration: 5s;

}

 /*Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
    0%   {background-color: transparent;}
    50%  {background-color: lightgreen;}
    100% {background-color: transparent;}
}

/* Standard syntax */
@keyframes example2 {
     0%   {background-color: transparent;}
    50%  {background-color: lightgreen;}
    100% {background-color: transparent;}
}
