<!--We Made it.-->


<h4 class="subtitle" style="text-align:center">Tonight's Songs: </h4>
    
    
    

<div class="tablediv">
<table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let song of songs ; let i  = index"


  >

<td *ngIf="song.play == 0">{{ song.title }}</td>
<td *ngIf="song.play == 0">{{ song.artist }}</td>
<td *ngIf="song.play == 0" [style.min-width]="'100px'" >{{ song.likes }}
 
            <i class="fa fa-heart-o" aria-hidden="true"  *ngIf="song.likes < 1"></i>
         <i class="fa fa-heart" aria-hidden="true" *ngIf="song.likes >= 1"></i>
            <i class="fa fa-plus" aria-hidden="true" (click)="addLike(song.$key, song.likes)" *ngIf="(user | async)?.uid" ></i>
  
    
    <i class="fa fa-plus" aria-hidden="true" (click)="noLike()" *ngIf="!(user | async)?.uid" data-toggle="modal" data-target="#myModal"></i>
    
    
</td>

  </tr>
  </tbody>
  </table>
</div>

 <div class="hidden"> {{ (user | async)?.uid }} </div>




 <!--
 <form id="filter">
    <label>Filter people by name:</label>
    <input type="text" name="term" [(ngModel)]="term" />
</form>
<i class="fa fa-plus" aria-hidden="true" (click)="addLike(song.$key, song.likes)"  ></i>
<i class="fa fa-minus" aria-hidden="true" (click)="removeLike(song.$key, song.likes)"></i>

  -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in first!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <button class="btn btn-primary" (click)="fblogin()" *ngIf="!(user | async)?.uid">
            <i class="fa fa-facebook" aria-hidden="true" ></i>
            Sign in</button>
          
           <div *ngIf="(user | async)?.uid" > 
         Great! Now you can vote for songs!

          </div>
          
          
          
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
          
   
         
          
          
      </div>
    </div>
  </div>
</div>

