
.dark {
    color:navy;
}


body {
 
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.hidden{
    display:none;
}

.subtitle
{
    color:#6b6b6b;
}

.np {
    background: skyblue;
}
.topbox{
    background: white;
}